body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../assests/poker-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    color: goldenrod;
    font-size: 50px;
    
}

button {
    background: goldenrod;
    width: 150px;
    color: #016f32;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 0;
    border-radius: 2px;
    margin: 2px 0;
}

#message-el {
    font-style: italic;
}